body {
    background-color: #000;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 10vw;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

/* nav-bar sction */
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 12px; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* background: rgba(255, 255, 255, 0.8); Adjust the RGBA values to fit your design */
    backdrop-filter: blur(6px); /* Adjust the blur intensity */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #454545;
    
}
.nav_items1{
    text-decoration: none;
    color: white;
}
.nav_items{
    text-decoration: none;
    color: #454545;
}
.nav_items:active{
    color: white;
}
.nav_items:hover{
    color: white;
}
.nav_bar .nav_items{
    margin: 25px;
}

.left{
    font-size: 1.2rem;
}

.linkedin{
    color: #06EF6F;
}
.linkedin:hover{
    color: #06EF6F;
    border-bottom:1px solid #06EF6F;
}

/* home page section */


.home{
    height: 100vh;
}
.hr{
    margin-top: 11vh;
    margin-left: 3vw;
    margin-right: 2vw;
}

.text-gradient{
    background: linear-gradient(to right, #666, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    
}

.text-gradient1 {
    background: linear-gradient(to right, #666, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem; 
    font-weight: 700; 
}



/* say hello */

.sayHello{
    height: 80vh;
}

.section1sayhello{
    display: flex;
    flex-direction: row;
    margin: 2vw;
}
.hello{
    color: #A8A8A8;
}
.hrsayhello{
    width: 79vw;
    margin: -5px;
    margin-left: 5px;

}

.buttonsayhello button{
    background-color: transparent;
    border: 2px solid #A8A8A8;
    color: #A8A8A8;
    width: 20vw;
    height: 7vh;
}

.sayhellobtn:hover{
    background-color: white;
    color: #000;
}

.buttonsayhello{
    display: flex;
    justify-content: center;
    margin-top: 12vh;
}

.text-gradient-hello {
    background: linear-gradient(to right, #666, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem; 
    font-weight: bold; 
}

/* about section */

.aboutmain{
    height: 100vh;
}

.section1about{
    display: flex;
    flex-direction: row;
    margin: 2vw;
}
.about{
    color: #454545;
}
.hrabout{
    width: 81vw;
    margin: -5px;
    margin-left: 5px;

}

.text-gradient-about {
    background: linear-gradient(to right, #666, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem; 
    font-weight: bold; 
}


/* footer section */

.footer_main{
    padding: 10vh;
    height: 40vh;
    background-color: #000;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}

.footer_items{
    text-decoration: none;
    margin: 25px;
    color: #454545;
}
.footer_items1{
    margin: 25px;
    color: white;
}
.footer_items:hover{
    color: white;
}
.footer_items_icon{
    margin: 10px;
}


/* project */
.project{
    height: 100vh;
}














/* contact section */
.contact{
    height: 100vh;
}